YoloBest
TestimagesGenerated
SemgentedandClassifiedImages
SphericalimagesGenerated
RawScans
RandLaNet
PrepedScans
PrepedScans2
PointTransformer
PointCloudcolored
newImages
Models
RawScans
LastData
.venv
converted-las
converted-las-scalar
drive-download-20250302T223854Z-001
EffiecientNetB7
filtered_las_scans
imagesGenerated
filtered_e57_scans
._floorVizualizationINmeshlab.obj
segmented_points_all_colored.obj
floorVizualizationINmeshlab.obj
sam_vit_h_4b8939.pth
cropped_data_limited.csv
newImages.rar
merged_floor.las
PointCloudcolored.rar
PointCloudcolored2.rar
output3.obj
Data